.postContainer {
    padding-bottom: 50px;
    animation: animate 0.3s;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    
        .post {
            margin: 0px 15px 30px 15px;
            background-color: #30373D;

            .user {
                padding-left: 0px;
                margin: 5px;
            }
            
            img {
                width: 100%;
            }

            .tags {
                margin: 5px 0px 5px 0px;
            }
    
            p {
                color: white;
            }

            > div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px;
            }

            .flexTags {
                display: flex;
                flex-wrap: wrap;

                .iconHeart {
                    color: #a371f7;
                    font-size: 30px;
                    padding: 8px;
                }

                .iconHeartLiked {
                    color: #a371f7;
                    font-size: 30px;
                    padding: 8px;
                    animation: like 0.5s;
                }

                .iconComment {
                    color: #a371f7;
                    font-size: 28px;
                    margin-top: 2px;
                    padding: 8px;
                }
            }
            
            .info {
                margin: 15px;

                p {
                    color: white;
                }
            }
        }
    }
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 10;
    }
}

@keyframes like {
    0% {
        color: #a371f7;
        transform: scale(1);
    }
    50% {
        color: #b388fd;
        transform: scale(1.1);
    }
    100% {
        color: #a371f7;
        transform: scale(1);
    }
}