.postContainer {
    padding-bottom: 50px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    
        .post {
            margin: 0px 15px 30px 15px;
            background-color: #30373D;
    
            
            img {
                width: 100%;
            }
    
            p {
                color: white;
                margin: 5px;;
            }

            > div {
              display: flex;
              align-items: center;
              padding: 10px;
            }

            .icon {
              color: #a371f7;
              font-size: 28px;
              padding: 4px;
              margin-left: auto;
              margin-right: 10px;
            }
        }
    }
}
