.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    img {
        padding-top: 50px;
    }

    .top{
        margin-top: 100px;
        color: white;
    }

    h3 {
        color: white;
        margin: 10px;
    }

    input {
        border: none;
        padding: 10px 0px 7px 10px;
        background-color:#30373D;
        outline: none;
        color: white;
        font-family: 'Arvo', serif;
        font-size: 16px;
        width: 240px;
    }

    .success {
        font-size: 18.72px;
        color: white;
        height: 18.72px;
    }

    .btnTop{
        margin-top: 60px !important;
        margin: 20px;
        cursor: pointer;
        background: #A371F7;
        color: white;
        width: 200px;
        height: 60px;
        font-family: 'Arvo', serif;
        font-size: 18.72px;
        border: none;
        border-radius: 1000px;
    }

    .btnBot{
        margin: 20px;
        cursor: pointer;
        background: #A371F7;
        color: white;
        width: 200px;
        height: 60px;
        font-family: 'Arvo', serif;
        font-size: 18.72px;
        border: none;
        border-radius: 1000px;
    }

    i {
        font-size: 35px;
        color: white;
        position: fixed;
        bottom: 3%;
        left: 7%;
    }
}
