.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    animation: animate 0.3s;

    .post {
        margin: 15px;
        background-color: #30373D;

        .user {
          padding-left: 10px;
        }

        img {
            width: 100%;
        }

        .tags {
            margin: 10px 0px 5px 0px;
        }

        p {
          color: white;
        }

        > div {
          display: flex;
          align-items: center;
          padding: 10px;
        }

        .icon {
          color: #a371f7;
          font-size: 28px;
          padding: 4px;
          margin-left: auto;
          margin-right: 10px;
        }
    }
}

@keyframes animate {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 10;
  }
}
