.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    animation: animate 0.3s;

    .post {
        margin: 15px;
        background-color: #30373D;

        .user {
          padding-left: 0px;
          margin: 5px;
        }

        img {
            width: 100%;
        }

        .tags {
            margin: 10px 0px 5px 0px;
        }

        p {
          color: white;
        }

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
        }

        .flexTags {
          display: flex;
          flex-wrap: wrap;

            .iconHeart {
                color: #a371f7;
                font-size: 30px;
                padding: 8px;
            }

            .iconHeartLiked {
                color: #a371f7;
                font-size: 30px;
                padding: 8px;
                animation: like 0.5s;
            }

            .iconComment {
                color: #a371f7;
                font-size: 28px;
                margin-top: 2px;
                padding: 8px;
            }
        }
    }
}

@keyframes animate {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 10;
  }
}
